::-webkit-scrollbar {
    width: 8px;
    /* Scrollbar width */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(30deg, #4b6cb7 0%, #9b5de5 100%);
    /* Scrollbar thumb color */
    border-radius: 4px;
    /* Scrollbar thumb rounded corners */
}

::-webkit-scrollbar-track {
    background-color: #e5e7eb;
    /* Scrollbar track color */
    border-radius: 4px;
    /* Scrollbar track rounded corners */
}